@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: jetbrainsmono;
	src: url('../fonts/JetBrainsMono-MediumItalic.ttf');
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: jetbrainsmono;
}
